button {
    border: none;
    background: none;
    height: 60px;
    outline: none;
  
  }
  
  button:focus-visible {
    outline:none;
  }
  
  button:hover {
    background: rgb(79, 88, 143);
  }
  
  .toolbar {
    display:flex;
    justify-content: center;
    gap:10px;
    align-items:center;
    
  }
  
  #Texteditor {
    max-width: 800px;
    margin :20px auto;
    padding:10px;
    height: auto;
    border: 1px solid#aba8a8;
  }